//$custom-color: #3366CC;
$custom-color: #4b7fc6;
$min-desktop-size: 900px;
$header-line-height: 38pt;
$footer-line-height: 38pt;
$section-margin: 12%;
$min-page-width: 300px;
$logo-height: 14pt;

html, body {
    min-width: $min-page-width;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 0.035em;
}

%center-using-margin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

%section {
    box-sizing: border-box;
    width: 100vw;
    min-width: 300px;
    padding-left: $section-margin;
    padding-right: $section-margin;
    @media screen and (max-width: $min-desktop-size) {
        padding-left: 15pt;
        padding-right: 15pt;
    }
    padding-bottom: 60pt;
    margin: 0;
}

%thin-section {
    @extend %section;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: black;
    color: white;
}

%unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

%plain-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


div.services {
    @extend %section;
    background-color: #f9f9f9;
}
h1.services {
    margin-bottom: 25pt;
}
ul.services {
    @extend %plain-list;
    
    $cell-width: 170pt;
    $cell-height: $cell-width;
    $row-gap-size: 120pt;
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, $cell-width);
    grid-auto-rows: minmax($cell-height, auto);
    justify-content: space-between;
    grid-row-gap: $row-gap-size;
    @media screen and (max-width: $min-desktop-size) {
        display: block;
        text-align: center;
        li {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $row-gap-size;
            display: block;
            width: $cell-width;
            height: $cell-height;
            p {
                width: 250pt !important;
            }
        }
    }
    @media screen and (max-width: 1250px) {
        grid-template-columns: repeat(2, $cell-width);
    }

    margin-bottom: $row-gap-size;
    li {
        position: relative;
        border-radius: 50%;
        background-color: $custom-color;
        p {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            width: 300pt;
        }
        p:nth-child(1) {
            display: inherit;
            color: $custom-color;
            font-size: 16pt;
            margin: 0;
            top: $cell-height + 20pt;
        }
        p:nth-child(2) {
            display: block;
            top: $cell-height + 40pt;
            opacity: 0;
            transition: opacity 0.5s;
            z-index: 5;
        }
    }
    li.ooh {
        background-image: url('../image/ooh.jpg')
    }
    li.ap {
        background-image: url('../image/accpromocionales.jpg')
    }
    li.dg {
        background-image: url('../image/dg.jpg')
    }
    li.smmd {
        background-image: url('../image/socialmedia.jpg')
    }
    li.pe {
        background-image: url('../image/prodeventos.jpg')
    }
    li.pa {
        background-image: url('../image/daudiovisual.jpg')
    }
    li.rrpp {
        background-image: url('../image/rrpp.jpg')
    }
    li {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        @media screen and (max-width: $min-desktop-size) {
            p:nth-child(2) {
                opacity: 1;
            }
        }
    }
    li:hover {
        p:nth-child(2) {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
}

header {
    @extend %thin-section;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: $min-page-width;
    
    .logo {
        display: float;
        float: left;
        margin: 0;
        font-size: 18pt;
        line-height: $header-line-height;
        max-height: $header-line-height;
        height: $logo-height;
        position: relative;
        top: ($header-line-height - $logo-height)/2;
    }
    
    .header-menu-toggle {
        display: none;
    }
    ul.header-menu {
        @extend %plain-list;
        float: right;
        text-transform: uppercase;
        li {
            @extend %unselectable;
            float: left;
            color: white;
            line-height: $header-line-height;
            margin-left: 60pt;
            a {
                font-size: 11pt;
                font-weight: 100;
                display: block;
                height: 100%;
                color: inherit;
                text-decoration: none;
            }
            a:first-child {
                margin-left: 0;
            }
            a:hover {
                transition: color 0.2s;
                color: lighten($custom-color, 10%);
            }
        }
    }
    @media screen and (max-width: $min-desktop-size) {
        label.header-menu-toggle {
            padding: 0;
            border: none;
            cursor: pointer;
            display: block;
            background-color: inherit;
            background-image: url('../image/hamburger.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: $header-line-height;
            height: $header-line-height;
            float: right;
            input {
                display: none;
            }
        }
        input.header-menu-toggle:checked ~ ul.header-menu {
            max-height: $header-line-height*10;
        }
        ul.header-menu {
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;
            max-height: 0;
            float: left;
            width: 100%;
            li {
                display: block;
                float: none;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.video {
    @extend %section;
    height: 46.5vw;
    overflow: hidden;
    background-color: black;
    margin-top: $header-line-height*0.9;
    padding: 0;
    position: relative;
    video {
        position: relative;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 1;
    }
    .video-overlay {
        position: absolute;
        z-index: 2;
        bottom: 20pt;
        left: $section-margin;
        width: 400pt;
        p {
            margin: 0;
            font-size: 26pt;
            font-weight: bolder;
            color: white;
            text-shadow: 1px 1px 5px black;
        }
    }
    .video-loading {
        background-image: url('../image/loading.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120pt;
        height: 120pt;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}


@media screen and (max-width: $min-desktop-size) {
    .video {
        display: none;
    }
}

div.us, div.clients {
    @extend %section;
}

div.contact {
    @extend %section;
    background-color: $custom-color;
    h1 {
        padding-bottom: 8pt;
    }
    h1:after {
        background-color: white;
        width: 184pt;
    }
    p {
        @extend %center-using-margin;
        color: white;
        text-align: center;
        margin-bottom: 64pt;
        font-size: 11pt;
    }
    form {
        @extend %center-using-margin;
        display: block;
        max-width: 320pt;
        * {
            box-sizing: border-box;
            border-radius: 6pt;
            display: block;
            margin-bottom: 12pt;
            width: 100%;
            box-shadow: none;
            border: none;
            font-size: 10pt;
            color: darken($custom-color, 10%);
            background-color: white;
        }
        input[type="text"], input[type="email"] {
            padding: 4pt 6pt;
        }
        input[type="submit"], button {
            @extend %center-using-margin;
            width: 80pt;
            margin-top: 9pt;
            font-size: 14pt;
            padding: 4pt;
        }
        textarea {
            font-family: inherit;
            padding: 6pt;
            min-height: 110pt;
            resize: none;
        }
    }
}

footer {
    @extend %thin-section;
    background-color: black;
    min-height: $footer-line-height;
    text-align: center;
    p {
        display: inline-block;
        color: white;
        padding: 0;
        margin: 0;
        line-height: $footer-line-height;
        text-align: center;
    }
    img {
        display: float;
        float: right;
        margin: 0;
        font-size: 18pt;
        line-height: $footer-line-height;
        max-height: $footer-line-height;
        height: $logo-height;
        position: relative;
        top: ($footer-line-height - $logo-height)/2;
    }
}



div.brands {
    $brand-item-size: 100pt;
    $brand-item-margin: 20pt;
    overflow: hidden;
    position: relative;
    margin-bottom: 60pt;
    height: $brand-item-size+18pt;
    ul.brands {
        @extend %plain-list;
        position: absolute;
        font-size: 0;
        overflow: hidden;
        white-space: nowrap;
        animation: scroll 25s linear 0s infinite;
        left: 0;
        li {
            margin-right: $brand-item-margin;
            display: inline-block;
            width: $brand-item-size;
            height: $brand-item-size;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    ul.brands:hover {
        animation-play-state: paused;
    }
    
    @keyframes scroll {
        100% {
            transform: translate(-50%, 0);
        }
    }
}


h1 {
    text-align: center;
    font-weight: normal;
    padding-top: 60pt;
    padding-bottom: 60pt;
    font-size: 20pt;
}
h1:after {
    @extend %center-using-margin;
    content: "";
    display: block;
    width: 168pt;
    margin-top: 18pt;
    padding: 1pt 0;
    background-color: $custom-color;
}

a.anchor:before {
  content:"";
  float: left;
  height: 0px;
}


